<!DOCTYPE html>
<html lang="en">
<head>
    <title>Dashboard</title>
    <!-- DreadNought Icon-->
    <link rel="icon" href="https://process.fs.teachablecdn.com/ADNupMnWyR7kCWRvm76Laz/resize=width:32,height:32/https://file-uploads.teachablecdn.com/96e44e884a324e76ab12eeb08cbc2ba1/7db81cf7f2f343f183db201978e9c146">
    <!-- Bootstrap CDNs -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Angular Js CDN -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <!-- Dashboard Css -->
    <link rel="stylesheet" href="./utils/dashboard.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
   
       
</head>
<body>
    <!-- NavBar -->
    <nav class="navbar navbar-dark bg-primary p-0">
        <div class="container">
        <a href="#" class="navbar-brand ml-5 " ><img src="./images/logo.png" height="45px"></a>
        
            <ul class="nav navbar dropdown ">
                <li>
            <button class="bg-primary btn mr-5  mb-0" id="profile" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="./images/profile.png" style="border-radius: 50%;" height="30px">
                <div class="dropdown-menu" id="dropdown" aria-labelledby="profile">
                    <a class="dropdown-item" href="#">Edit Profile</a>
                    <a class="dropdown-item" href="#">Manage Subscriptions</a>
                    <a class="dropdown-item" href="#">Add / Change Credit Card</a>
                    <a class="dropdown-item" href="#">Address</a>
                    <a class="dropdown-item" href="#">Contact</a>
                    <a class="dropdown-item" href="#">Logout</a>
                </div>
            </button>
        </li>
        </ul>
    </div>
    </nav>
    <div class="container main" ng-app="myApp" ng-controller="searchCtrl">
        <div class="row">
            <div class="course-filter ">
                <div class="filter-label">Order By Progress:</div>
                <div class="btn-group">
                    <button class="btn btn-default btn-lg btn-course-filter dropdown-toggle" ng-model="order" ng-click="orderByMe('progress')" aria-expanded="false" aria-controls="filter-dropdown"><span class="expand_caret caret"></span></button>
                </div>
                
            </div>
            <div class="col-4 course-filter ">
                <div class="filter-label">Author:</div>
                <div class="btn-group">
                    <select class="ml-5 btn btn-default btn-lg btn-course-filter dropdown-toggle p-0" ng-model="authors">
                        <option value="" selected="true">All</option>
                        <option value="Promit Revar">
                            Promit Revar  
                        </option>
                        <option value="Jason Miller">
                            Jason Miller
                        </option>
                        <option value="Margareth">Margareth</option>
                        <option value="Joe Mark">Joe Mark</option>
                        
                    </select>
                </div>
                
            </div>
            
            <div class="col-lg-4 col-md-4 col-xs-12 search-box">
                
                    <div class="input-group">
                        <input type="text" name="name" ng-model="test" class="form-control search input-lg" placeholder="Search">
                            <div class="input-group-append">
                                <span class="input-group-text">
                                    
                                        <i class="fa fa-search"></i>
                                    
                                </span>
                            </div>
                    </div>
                
                
            </div>
        </div>
        <!-- Course Cards Generated Dynamically Using Angular JS -->
        <ul style="list-style:none;">
            <li ng-repeat="x in courses | filter : test | orderBy : myOrderBy | filter : authors">
        <a href="#"  data-role="course-box-link">
            
             
        <div class="row Course-video">
        
            <div class="col-0">
                <img src={{x.thumbnail}} class="thumbnail" > 
                <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated" ng-style="{'width':'{{x.progress}}%'}">{{x.progress}}%</div>
                </div>
                
            </div>
        
        
            <div class="col-7">
                
                <img src="./images/Jason Miller.png" class="course-author">
                <b>{{x.Author}}</b>
                <h1 >{{x.Course_Name}}</h1>
             
            </div>
          
            <div class="col">
                
                <i >Deadline: {{x.Deadline}}</i>
                
            </div>  
            
        </div>
        
        </a>
        <br>
        </li>
            </ul>
            <br>
    </div>
    <!-- Footer -->
    <footer class="footer bg-primary">
        <div class="container">
            <div class="row p-4">
                <div class="col">
                   
                </div>
                <div class="col col-md-12 text-center ">
                    <a class="footer-link" href="https://promit-revar.github.io/Portfolio/">Created By Promit Revar with </a> &hearts;
                    <br>
                  
                </div>
                <div class="col">
                    
                </div>
            </div>
            
        </div>
    </footer>
</body>
<script>
    angular.module('myApp', []).controller('searchCtrl', function($scope) {
        $scope.myOrderBy="+progress";
        //Dummy Data For Courses...
      $scope.courses = [
        {Author:'Jason Miller',Course_Name:'Future Deep Tech Founders',Deadline:"13th Jul 2023",progress:40,thumbnail:"./images/Course image.png"},
        {Author:'Promit Revar',Course_Name:'Fullstack Web Developement',Deadline:"23rd Jan 2023",progress:50,thumbnail:"./images/web-dec.jpg"},
        {Author:'Promit Revar',Course_Name:'Fundamentals of Datastructures and Algorithms',Deadline:"17th Feb 2023",progress:80,thumbnail:"./images/DSA.png"},
        {Author:'Margareth',Course_Name:'Political Sciences',Deadline:"12th Apr 2023",progress:0,thumbnail:"./images/politics.jpg"},
        {Author:'Jason Miller',Course_Name:'How to Setup Business',Deadline:"29th Aug 2022",progress:100,thumbnail:"./images/business.jpg"},
        {Author:'Joe Mark',Course_Name:'React Js Fundamentals',Deadline:"16th Oct 2023",progress:20,thumbnail:"./images/react.png"},
        {Author:'Promit Revar',Course_Name:'Angular Js Fundamentals',Deadline:"1st Jul 2023",progress:75,thumbnail:"./images/angular.png"},
        
      ];
      // Order By Progress ...
      $scope.orderByMe = function(x) {
        
        $scope.myOrderBy = ($scope.myOrderBy[0]=='+')?'-':'+';
        $scope.myOrderBy+=x;
        
      }
    });
    </script>
</html>